.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.contents {
  display: flex;
  width: 100%;
  gap: 2.5%;
}
.content {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;
  width: 18%;
  gap: 10px;
  &:hover {
    transform: translateY(-10px);
    transition: transform 0.5s;
  }
}
.skill_info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
