.page {
  width: 100%;
  margin-top: 32px;
	display: flex;
  justify-content: center;
}
.title_wrapper {
	display: flex;
	flex-direction: column;
  justify-content: center;
	gap: 10px;
}
.page_container {
	max-width: 1200px;
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 32px;
	gap: 40px;
}
.content {
	height: 100%;
	max-width: 300px;
	padding: 0 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}