.career {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}
.title_wapper {
  width: 100%;
}
.hr {
  width: 100%;
  height: 2px;
  color: gray;
  background-color: gray;
}
.list {
  display: flex;
  gap: 1%;
}
