.wrapper {
  display: flex;
  width: 40%;
  border: 1px solid black;
  border-radius: 4px;
  &:hover {
    transform: translateY(-10px);
    transition: transform 0.5s;
  }
}
.info_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  padding: 20px;
}
.pre_wrap {
  white-space: pre-wrap;
}
.image_container {
  position: relative;
  width: 30%;
  background-color: aquamarine;
}
.image {
  object-fit: contain;
}
